<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Invite user</title>
	<link rel="stylesheet" href="/assets/invite.css">
	<link rel="stylesheet" href="/assets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        
    <script>
			
		window.onload = function() {
		
			var i = 0;
			while (i < 10) {
				TweenMax.fromTo("#steam"+(i+1), 10, {opacity:1, scale:0}, 
								  			        {opacity:0, scale:1.7, repeat:-1, delay:i, ease: Power2.easeIn} );
			i++;};
						
			TweenMax.to("#catTail",0.35, {backgroundPosition:"100% 50%", 
										  ease:SteppedEase.config(4), repeat:-1, repeatDelay:1, yoyo:true} );			
		}
		
	</script>

</head>

<body>

    <div class="main">

        <h1 class="greenHeader">Animation at Work</h1>
        
        <div class="container">
			<div class="scene" style="background-image: url(/assets/workspace.png)">
				<div class="screen"></div>
			</div>
		
			<div class="steam" id="steam1"></div>
			<div class="steam" id="steam2"></div>
			<div class="steam" id="steam3"></div>
			<div class="steam" id="steam4"></div>
			<div class="steam" id="steam5"></div>
			<div class="steam" id="steam6"></div>
			<div class="steam" id="steam7"></div>
			<div class="steam" id="steam8"></div>
			<div class="steam" id="steam9"></div>
		
			<div class="scene" style="background-image: url(/assets/catBody.png)"></div>
			<div class="scene" style="background-image: url(/assets/cup.png)"></div>
			<div class="scene tail" id="catTail"></div>
			
		</div>
        
        <p>Become a part of our Community!<br> Sing up and interact with supporters. </p>

            <form action="/invite" method="POST">
		<ol>
			<li>
<!--				<label for="first-name">First name</label>-->
				<input type="text" id="first-name" name="first_name" placeholder="First name" required>
			</li>
			<li>
<!--				<label for="email">Email</label>-->
				<input type="email" id="email" name="email" placeholder="E-mail"  required>
			</li>
			<li>
				<button>Invite</button>
			</li>
		</ol>
	</form>
        
        
        <p style="margin-top: 8rem">Love Web Animation? Prefer email?<br> Sign up for 
            <a href="http://webanimationweekly.com/" target="_blank">Web Animation Weekly</a> 
            <br>for the latest news and tutorials <br>delivered right to your inbox!<br> Sing up and interact with supporters. </p>


    </div>
    
    <!--- F O O T E R -->
    
    <div class="credits">
		<section class='creditBlock'>
			<span>sponsored by:</span><br>
			<a title="Tin Magpie" class="urlsW logo" target="_blank" style="background-image: url(/assets/tin.png)" href="http://tinmagpie.com/"></a>
		</section>
				
		<section class='creditBlock'>
			<span>thanks to:</span><br>
			<a title="Fluffy Move" class="urlsW logo" target="_blank" style="background-image: url(/assets/FM.png)" href="http://fluffymove.com/"></a>
            <a title="Ben Boyle" class="urlsW logo" target="_blank" style="background-image: url(/assets/ben.png)" href="http://ultimate.benboyle.id.au/"></a>
		</section>
        
    
	</div>





</body>
</html>
