<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User already invited</title>
	<link rel="stylesheet" href="/assets/main.css">
</head>
<body>

     <div class="main">
        <h1 class="greenHeader">Animation at Work</h1>
            <div class="pic" style="background-image: url(/assets/mark.png)"></div>
            <h2>Hey {{first_name}}, you've already been sent an invite!</h2>

            <p>{{email}} has already been invited to our slack community.</p>

            <p>Please check your spam folder for the invitation.</p>
    </div>

</body>
</html>
