<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User invited</title>
		<link rel="stylesheet" href="/assets/main.css">
</head>
<body>

    <div class="main">
        <h1 class="greenHeader">Web Animation Non-Stop!</h1>
        <div class="pic"></div>

        <h2>Thank you for signing up, {{first_name}}!</h2>

        <p>An invitation has been sent to {{email}}.</p>
        <p>Please check your spam folder if you do not see the invitation in the next few minutes.</p>
    </div>


</body>
</html>
