<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Invite user</title>
	<link rel="stylesheet" href="/invite.css">
</head>
<body>

	<form action="/invite" method="POST">

		<ol>
			<li>
				<label for="first-name">First name</label>
				<input type="text" id="first-name" name="first_name" required>
			</li>
			<li>
				<label for="email">Email</label>
				<input type="email" id="email" name="email" size="40" required>
			</li>
			<li>
				<button>Invite</button>
			</li>
		</ol>

	</form>

</body>
</html>
