<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Invite user</title>
	<link rel="stylesheet" href="/assets/invite.css">
	<link rel="stylesheet" href="/assets/main.css">

</head>

<body>

    <div class="main">


        <h1 class="greenHeader">Web Animation Non-Stop!</h1>
        <div class="picCat"></div>
        <p>Become a part of our Community!<br> Sing up and interact with supporters. </p>

            <form action="/invite" method="POST">
		<ol>
			<li>
<!--				<label for="first-name">First name</label>-->
				<input type="text" id="first-name" name="first_name" placeholder="First name" required>
			</li>
			<li>
<!--				<label for="email">Email</label>-->
				<input type="email" id="email" name="email" placeholder="E-mail"  required>
			</li>
			<li>
				<button>Invite</button>
			</li>
		</ol>
	</form>





    </div>





</body>
</html>
