<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Slack API error</title>
	<link rel="stylesheet" href="../../htdocs/main.css">
</head>
<body>
    
     <div class="main">
        <h1 class="greenHeader">Web Animation Non-Stop!</h1>
         
        <div class="pic"></div>


        <h2>Well, this is embarrassing…</h2>

        <p>The Slack API returned an unknown response. We don't know if your request worked.</p>

        <p>Please try again later if you do not receive an invitation email.</p>
    </div>

</body>
</html>
