<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Slack API error</title>
	<link rel="stylesheet" href="/assets/main.css">
</head>
<body>

     <div class="main">
        <h1 class="greenHeader">Animation at Work</h1>

        <div class="pic" style="background-image: url(/assets/stop.png)"></div>

        <h2>Slack API returned an error</h2>

        <dl>
            <dt>Error</dt>
            <dd>{{error}}</dd>
        </dl>

        <p>Please try again later.</p>

    </div>

</body>
</html>
